*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
gradle/wrapper/gradle-wrapper.jar
composeApp/cache/
composeApp/cache2/
composeApp/kcef-bundle/
composeApp/kcef-bundle2/
composeApp/MediaDeviceSalts
composeApp/MediaDeviceSalts-journal
